@font-face {
	font-family: "Kibanka";
	src: url("/fonts/Kibanka/Kibanka-Regular.otf") format("opentype");
}

@font-face {
	font-family: "Figtree";
	src: url("/fonts/Figtree/Figtree-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Figtree";
	src: url("/fonts/Figtree/Figtree-LightItalic.ttf") format("truetype");
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: "Figtree";
	src: url("/fonts/Figtree/Figtree-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Figtree";
	src: url("/fonts/Figtree/Figtree-Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: "Figtree";
	src: url("/fonts/Figtree/Figtree-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Figtree";
	src: url("/fonts/Figtree/Figtree-MediumItalic.ttf") format("truetype");
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: "Figtree";
	src: url("/fonts/Figtree/Figtree-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Figtree";
	src: url("/fonts/Figtree/Figtree-SemiBoldItalic.ttf") format("truetype");
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: "Figtree";
	src: url("/fonts/Figtree/Figtree-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Figtree";
	src: url("/fonts/Figtree/Figtree-BoldItalic.ttf") format("truetype");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: "Figtree";
	src: url("/fonts/Figtree/Figtree-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "Figtree";
	src: url("/fonts/Figtree/Figtree-ExtraBoldItalic.ttf") format("truetype");
	font-weight: 800;
	font-style: italic;
}
@font-face {
	font-family: "Figtree";
	src: url("/fonts/Figtree/Figtree-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: "Figtree";
	src: url("/fonts/Figtree/Figtree-BlackItalic.ttf") format("truetype");
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: "Inter";
	src: url("/fonts/Inter/InterVariable.ttf") format("truetype");
	font-style: normal;
}
@font-face {
	font-family: "Inter";
	src: url("/fonts/Inter/InterVariable-Italic.ttf") format("truetype");
	font-style: italic;
}

// Comic Neue
@font-face {
	font-family: "Comic Neue";
	src: url("/fonts/Comic Neue/ComicNeue-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Comic Neue";
	src: url("/fonts/Comic Neue/ComicNeue-LightItalic.ttf") format("truetype");
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: "Comic Neue";
	src: url("/fonts/Comic Neue/ComicNeue-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Comic Neue";
	src: url("/fonts/Comic Neue/ComicNeue-Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: "Comic Neue";
	src: url("/fonts/Comic Neue/ComicNeue-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Comic Neue";
	src: url("/fonts/Comic Neue/ComicNeue-BoldItalic.ttf") format("truetype");
	font-weight: 700;
	font-style: italic;
}

body {
	font-family: "Figtree", sans-serif;
	user-select: none;
	box-sizing: border-box;
}
input {
	font-family: "Figtree", sans-serif;
}
* {
	-webkit-tap-highlight-color: transparent;
	&::-webkit-scrollbar {
		display: none;
	}
}
a {
	text-decoration: none;
	color: #1e4ae9;
	-webkit-touch-callout: none;
}
input:hover {
	cursor: pointer;
}
button {
	font-family: "Figtree", sans-serif;
}
button:hover {
	cursor: pointer;
}
