body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

.button_flat {
	background: none;
	border: none;
	border-radius: 0;
	padding: 0;
}

.link_simple {
	font-size: 0.7rem;
	font-weight: 600;
	color: #f7f0e6;
	background-color: #1a191d;
	border-radius: 4px;
	padding: 8px 12px;
	display: inline-block;
}
ol,
ul {
	margin: 0;
	margin-block: 0;
}
