$main-light: #f7f0e6;
$main-dark: #1a191d;

$thriller-background: #e94f1d;
$thriller-content: #6d103c;

$romance-background: #f9f9f6;
$romance-content: #e41d20;

$sf-background: #086169;
$sf-content: #9ad2c8;

$detective-background: #7c1430;
$detective-content: #eb8495;

$adventure-background: #87801f;
$adventure-content: #f9f9f6;

$fantasy-background: #f8be3f;
$fantasy-content: #f9f9f6;
